@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to right, rgb(0, 145, 255), rgb(246, 176, 187));
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }